@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --foreground: 240 10% 3.9%; /* hsl(240, 10%, 4%) */

    --card: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --card-foreground: 240 10% 3.9%; /* hsl(240, 10%, 4%) */

    --popover: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --popover-foreground: 240 10% 3.9%; /* hsl(240, 10%, 4%) */

    --primary: 240 5.9% 10%; /* hsl(240, 6%, 10%) */
    --primary-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --secondary: 240 4.8% 95.9%; /* hsl(240, 5%, 96%) */
    --secondary-foreground: 240 5.9% 10%; /* hsl(240, 6%, 10%) */

    --muted: 240 4.8% 95.9%; /* hsl(240, 5%, 96%) */
    --muted-foreground: 240 3.8% 46.1%; /* hsl(240, 4%, 46%) */

    --accent: 240 4.8% 95.9%; /* hsl(240, 5%, 96%) */
    --accent-foreground: 240 5.9% 10%; /* hsl(240, 6%, 10%) */

    --destructive: 0 84.2% 60.2%; /* hsl(0, 84%, 60%) */
    --destructive-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --border: 240 5.9% 90%; /* hsl(240, 6%, 90%) */
    --input: 240 5.9% 90%; /* hsl(240, 6%, 90%) */
    --ring: 240 10% 3.9%; /* hsl(240, 10%, 4%) */

    --radius: 0.5rem; /* 8px */

    --plico-animation-d: 0.5s;
  }

  .dark {
    --background: 240 10% 3.9%; /* hsl(240, 10%, 4%) */
    --foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --card: 240 10% 3.9%; /* hsl(240, 10%, 4%) */
    --card-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --popover: 240 10% 3.9%; /* hsl(240, 10%, 4%) */
    --popover-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --primary: 0 0% 98%; /* hsl(0, 0%, 98%) */
    --primary-foreground: 240 5.9% 10%; /* hsl(240, 6%, 10%) */

    --secondary: 240 3.7% 15.9%; /* hsl(240, 4%, 16%) */
    --secondary-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --muted: 240 3.7% 15.9%; /* hsl(240, 4%, 16%) */
    --muted-foreground: 240 5% 64.9%; /* hsl(240, 5%, 65%) */

    --accent: 240 3.7% 15.9%; /* hsl(240, 4%, 16%) */
    --accent-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --destructive: 0 62.8% 30.6%; /* hsl(0, 63%, 31%) */
    --destructive-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --border: 240 3.7% 15.9%; /* hsl(240, 4%, 16%) */
    --input: 240 3.7% 15.9%; /* hsl(240, 4%, 16%) */
    --ring: 240 4.9% 83.9%; /* hsl(240, 5%, 84%) */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background)) !important;
    color: hsl(var(--foreground)) !important;
  }
}

.dark\:nx-bg-dark {
  background-color: hsl(var(--background)) !important;
}

.max-xl\:nx-hidden.nx-h-0.nx-w-64.nx-shrink-0 {
  display: none !important;
}

/* This is needed to override the default background color of the nextra-nav-container-blur class which is !important */
body:not(#nonexistent) .nextra-nav-container-blur {
  background-color: hsl(var(--background) / 0.8) !important;
}

.dark\:nx-shadow-\[0_-12px_16px_\#111\] {
  box-shadow: 0 -12px 16px hsl(var(--background)) !important;
}

a.nx-flex.nx-items-center.hover\:nx-opacity-75.ltr\:nx-mr-auto.rtl\:nx-ml-auto {
  display: none !important;
}

.nextra-toc div {
  margin-right: -0.5rem !important;
}

main img {
  @apply mt-2 rounded-lg;
}

.no-round-image img {
  @apply rounded-none;
}
